.player {
  background-color: rgb(218, 218, 218);
}
.song {
  font-size: 30px;
}
.artist {
  font-size: 40px;
}
#musickit-dialog-scrim,
#musickit-dialog {
  display: none;
}
.song-names {
  color: rgb(54, 54, 54);
}
.song-playing {
  color: red;
}
