.track-display-wrapper {
	height: 38%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.track-display-top {
	height: 90%;
	display: flex;
}

.track-display-left {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25%;

	.track-cover {
		transform: scale(1.2);
	}
}

.track-display-right {
	width: 80%;
	display: flex;
	position: relative;
	justify-content: center;
	flex-direction: column;

	overflow: hidden;

	.track-title {
		font-weight: 400;
		font-size: 80px;
		white-space: nowrap;
		width: 100%;
		font-weight: 700;
		line-height: 90px;
	}

	.artists {
		font-size: 30px;
		color: var(--gray-600);
	}
}

.queue-header {
	display: flex;
	padding-bottom: 8px;
	border-bottom: var(--gray-400) 1px solid;
	height: 10%;
	width: 97%;
	margin-inline: auto;

	.header-text {
		text-transform: uppercase;
		font-size: 14px;
		color: var(--gray-600);
	}

	.track-index {
		width: 4%;
		text-align: center;
	}

	.track-title {
		width: 39.2%;
	}

	.track-user {
		width: 20%;
	}

	.track-duration {
		width: 16.5%;
	}

	.track-like {
		width: 11%;
	}

	.track-remove {
	}
}
