.choose-service {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;

	h1 {
		font-size: 60px;
	}
}

.services-container {
	display: flex;
	margin-block: 50px;
	border-radius: 15px;
}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	height: 250px;
	width: 250px;
	border: none;
	background-color: transparent;
	border-radius: 15px;
}

img {
	height: 200px;
}

.choose-service .selected {
	background-color: rgb(245, 245, 245);
}

.music-provider-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.inputs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: gray;
	margin-bottom: 50px;

	label {
		margin-right: 10px;
	}

	input {
		outline: none;
		padding-inline: 10px;
		padding-block: 5px;
		color: inherit;
		border: solid 1px rgb(182, 182, 182);
		border-radius: 5px;
	}
}

.create-lobby-button {
	text-decoration: none;
	padding-inline: 30px;
	padding-block: 15px;
	font-size: 16px;
	color: white;
	border: none;
	border-radius: 50px;
	background-color: rgb(98, 87, 250);
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s ease-in-out;

	&:hover {
		transform: scale(1.05);
	}
}

[aria-invalid='true'] {
	border: solid 1px rgb(243, 25, 25) !important;
}

.hidden {
	display: none;
}
