.lobby {
	height: 100vh;
	display: grid;
	grid-template-columns: 2fr 12fr 3fr;
	grid-template-rows: 3fr 6fr 1fr;
	grid-template-areas:
		'settings center messages'
		'members center messages'
		'player player player';
}

.player-grid {
	grid-area: player;
	background-color: var(--gray-300);
	color: white;
}

.members-grid {
	grid-area: members;
	background-color: var(--gray-100);
	color: white;
	padding: 10px;
}

.messages-grid {
	grid-area: messages;
	background-color: var(--gray-100);
	color: white;
}

.settings-grid {
	grid-area: settings;
	color: white;
	background-color: var(--gray-100);
	padding: 10px;
}

.center-grid {
	grid-area: center;
	background-color: var(--gray-200);
	color: white;
	position: relative;
	width: 100%;
	overflow: hidden;
}

.hide {
	display: none;
}
