.lobby {
	height: 100vh;
	display: grid;
	grid-template-columns: 2fr 10fr 3fr;
	grid-template-rows: 3fr 6fr 1fr;
	grid-template-areas:
		'settings center messages'
		'members center messages'
		'player player player';
}

.player-grid {
	grid-area: player;
	background-color: red;
}

.members-grid {
	grid-area: members;
	background-color: green;
}

.messages-grid {
	grid-area: messages;
	background-color: yellow;
}

.settings-grid {
	grid-area: settings;
	background-color: blue;
}

.center-grid {
	grid-area: center;
}
