.full-album {
	overflow-y: auto;
	padding: 20px;
}

.full-album-info-dispaly {
	padding: 10px;
}

.full-album-cover-wrapper {
	width: 300px;
	height: 300px;
}

.full-album-info-dispaly {
	display: flex;
	flex-direction: column;
}

.full-album-text {
}

.full-album-name {
	font-size: 25px;
	font-weight: 500;
}
