.index-wrapper {
	width: 4%;
	display: flex;
	justify-content: center;
}

.index {
	text-align: center;
}

.primary-info {
	display: flex;
	width: 40%;
	white-space: nowrap;

	.album-cover-container {
		width: 50px;
		min-width: 50px;
		height: 50px;

		img {
			height: 100%;
			object-fit: cover;
		}
	}

	.text {
		width: 250px;
		overflow: hidden;
	}

	.track-title {
		color: white;
	}

	.track-artists {
		color: var(--gray-600);
	}

	.availability {
		display: flex;
		align-items: center;
		margin-left: 10px;
		height: 24px;

		.apple-logo {
			width: 20px;
			min-width: 20px;
			height: 20px;
		}

		.spotify-logo {
			width: 20px;
			min-width: 20px;
			height: 20px;
		}
	}
}

.added-by {
	width: 20%;
	color: var(--gray-600);
}

.duration {
	width: 17%;
	color: var(--gray-600);
}

.action-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 14%;
	height: 40px;
	display: flex;
	color: var(--gray-600);
}

.action-icon {
	cursor: pointer;
	height: 16px;
}

.like-button {
	width: 11%;
}

.remove-button {
}

@media (max-width: 1300px) {
	.duration {
		width: 30%;
	}
	.added-by {
		display: none;
	}
}

@media (max-width: 1100px) {
}
