.hero {
	width: 100%;
	height: 800px;
	background-color: var(--gray-0);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.hero-heading-container {
	max-width: 1300px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 60px;
}

.hero .left {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex: 3;

	h1 {
		font-size: 80px;
		line-height: 100px;
		color: white;
		max-width: 600px;
		width: 100%;
	}

	p {
		margin-block: 40px;
		font-size: 20px;
		font-weight: 300;
		color: gray;
	}
}

.hero .right {
	flex: 4;
}

.hero-illustration {
	height: 100%;
}

.button-container {
	margin-top: 40px;
	width: fit-content;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.create {
	position: relative;
}

.create::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 50px;
	padding: 2px;
	background: linear-gradient(
		39deg,
		rgba(238, 0, 201, 1) 0%,
		rgba(149, 0, 255, 1) 50%,
		rgba(0, 22, 255, 1) 100%
	);
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
}

.join {
	position: relative;
}

.join::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 50px;
	padding: 2px;
	background: linear-gradient(
		39deg,
		rgb(230, 230, 230) 0%,
		rgb(90, 90, 90) 100%
	);
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
}

.link {
	width: 160px;
	text-decoration: none;
	padding-block: 14px;
	font-size: 14px;
	color: white;
	border-radius: 50px;
	background-color: transparent;

	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s ease-in-out;

	&:hover {
		transform: scale(1.05);
	}
}
